<strong>Hello, {{ user }}</strong>
<p>You've been sucessfully registered to attend the meetup : {{ meetup_title }}</p>
<p>
  <strong>Meetup: </strong> {{ meetup_title }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
</p>
